# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environments & secrets
.env
.venv/
env/
venv/

# Node & Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & OS artifacts
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

*.metadata.json
